*{
  margin:0;
  padding:0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  height: 80px;
  width: 100%;
  border-bottom: solid 1px black;
  background-color: white;
  align-items: center;
  z-index: 1;
  position: fixed;
}

.logoblock {
  padding-left: 30px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.logoblock span {
  color: MediumAquamarine;
}

.logoblock img {
  margin-right: 12px;
  min-width: 70px;
}

nav span {
  padding: 20px 10px;
  text-decoration: underline;
  color: black;
  display: inline-block;
}

header nav {
  padding-right: 40px;
}

a {
  color: black;
}

.content {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  margin-right: 32px;
}
.column.large {
  width: 630px;
}

.column.medium{
  width: 300px;
}

.column.small {
  width: 240px;
}




div {
  border: solid 1px black;
}
.lead story{

}
