*{
  margin:0;
  padding:0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  height: 80px;
  width: 100%;
  border-bottom: solid 1px black;
  background-color: white;
  align-items: center;
  z-index: 1;
  position: fixed;
}

.logoblock {
  padding-left: 30px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.logoblock span {
  color: MediumAquamarine;
}

.logoblock img {
  margin-right: 12px;
  min-width: 70px;
}

nav span {
  padding: 20px 10px;
  text-decoration: underline;
  color: black;
  display: inline-block;
}

header nav {
  padding-right: 40px;
}

a {
  color: black;
}

.content {
  display: flex;
  font-size: 14px;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  margin-right: 32px;
}
.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.column.medium{
  width: 300px;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}




/* div {
  border: solid 1px black;
} */

/* }   <-- Doug - Commented out this 'extra' closing bracket. It was breaking your CSS.
                  Removing this bracket solved the issue with space between the two articles */

.image-content {
  display: flex;
  /* Doug - Added the following 2 lines to center text vertically within images */
  flex-direction: column;
  justify-content: center;
  /* Doug - Added the following 2 lines to default width of images to 300 and to center text on images */
  width: 300px;
  text-align: center;
}

.narrative {
  display: flex;
}

.lead-story {
  display: block;
}
.stories {
  display: block;
}
.lead-story .image-content {
  background-image: url("../images/main story.png");
  height: 300px;
  width: 630px;  /* Doug - Added this line: this is only image that needs to be 630px wide */
  font-size: 40px;
  text-align: left;  /*Doug - Added this line: This is only image with text left aligned   */
}

/* Doug - Added the following style to indent text on title image - otherwise it was right up at the left of the image */
.lead-story .image-content span {
  margin-left: 20px;
}

.fall-cancelled.image-content {
  background-image: url("../images/fall season.png");
  height: 300px;
  margin-top: 15px;
}
.pop-culture.image-content {
  background-image: url("../images/hipster cameraman.png");
  height: 300px;
  margin-top: 15px;
}

.cat-ceo.image-content{
  background-image: url("../images/cat CEO.png");
  height: 300px;
  margin-top: 15px;
}

.image-content span{
  color: white;
  font-family: Georgia;
  font-weight: bold;
/*  width: 630px;   Doug - removed this from here as it affected the width of texts on all images */
}

.story,
.news-bites {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.lead-story .narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story .image-content {
font-size: 30px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/* Doug - Added the following style to create a bit of space between before starting each narrative text. */
.narrative {
  padding-top: 15px;
}

/* Doug - Added the following style to force 'text-content' of 'stories' to have the same height - this results in the story images being horizontally aligned.
          note that I didn't apply this to '.story .text-content' as that would adversly affect the story in the second column. */
.stories .text-content {
  height: 220px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}


.news-bites h3{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
  text-align: center;
  margin-top: 16px;
}

.news-bites span {
 background-color: WhiteSmoke;
 font-family: Verdana;
 font-size: 12px;
 color: DimGray;
 border-bottom: solid 1px black;
 padding: 11px 20px;
 display: block;
}

.news-bites {
  display: block;
  height: 348px;
  width: 240px;
}

footer {
  height: 325px;
  background-color: MediumAquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .title {
  border-right: solid 2px white;
  padding-right: 25px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.copyright {
  font-family: Verdana;
  font-size: 12px;
}

footer nav span {
  padding: 20px 10px;
}

footer nav {
display: inline-block;
padding-left: 25px
}
